@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #f5f5f5;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='number'],
input[type='date'] {
    @apply text-sm sm:text-base placeholder-gray-400 pr-4 border border-gray-400 w-full py-2 focus:outline-none placeholder:italic placeholder:text-sm;
}

textarea {
    @apply text-sm sm:text-base placeholder-gray-400 pr-4 rounded-lg border border-gray-400 w-full py-2 focus:outline-none placeholder:italic placeholder:text-base;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
